{% extends 'base.html' %}
{% load static %}

{% block title %}WinimarketGh - Home{% endblock %}
{% block content %}
    <section class="hero-section-widget">
        <div class="hero-section-grid">
            <!-- hero section items here -->
            <div class="hero-text">
                <h2>Buy and Sell with Confidence on Campus</h2>
                <p>
                    Winimarket connect verified student etrepreneurs with buyers accross campus and beyond.
                    Discover quality products, pay securely with Mobile Money, and shop knowing every seller is verified.
                </p>

                <div class="hero-CTA">
                    <button class="hero-CTA-btn" id="installBtn" style="display: none;">Install Winimarket App ⬇️</button>
                </div>
            </div>

            <div class="hero-img">
                <img src="{% static 'images/hero-1.jpg' %}" alt="hero image">
            </div>
        </div>

        <div class="hero-trust-card">
            <div class="verified">
                <span class="material-icons-outlined">verified</span>
                <p>Verified Sellers</p>
            </div>

            <div class="secure-payment">
                <span class="material-icons-outlined">lock</span>
                <p>Secure Payment</p>
            </div>

            <div class="efficient-delivery">
                <span class="material-icons-outlined">local_shipping</span>
                <p>Efficient Delivery</p>
            </div>

            <div class="online-support">
                <span class="material-icons-outlined">support_agent</span>
                <p>Online Support</p>
            </div>
        </div>
    </section>
    
    <div class="cat-title-filter">
        <div>
            <h2 class="section-title">Shop by Category</h2>
        </div>
        
        <div class="filter">
            <span class="material-icons-outlined">filter_list</span>
            <p>Filter</p>
        </div>
    </div>

    <section class="category">
        <div class="category-slider">
            <div class="category-track" id="categoryTrack">
                <!-- category items here -->
            </div>
        </div>
    </section>
    
    <section class="products-section">
        <h2 class="section-title product-header">Featured Products</h2>
        <div class="products-grid" id="productsGrid">
            <!-- products items here -->
        </div>
    </section>

    <div class="bottom-loader"></div>
    
<script type="module" src="{% static 'js_files/main/index.js'%}"></script>
{% endblock %}
</body>
</html>