{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kasuwaa-products</title>
    <link rel="stylesheet" href="{% static 'css/main/index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;600&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Kasuwaa</h1>
        </div>

        <div class="navbar">
            <ul>
                <li><a href="#"><span class="material-icons-outlined">home</span></a></li>
                <li><a href="#"><span class="material-icons-outlined">favorite_border</span></a></li>
                <li><a href="#"><span class="material-icons-outlined">shopping_cart</span></a></li>
                <li><a href="#"><span class="material-icons-outlined">local_shipping</span></a></li>
                <li><a href="#"><span class="material-icons-outlined">account_circle</span></a></li>
            </ul>
        </div>
    </header>

    <main>
        <!-- PRODUCT AND CATEGORY LISTING PAGE-->
        <section class="product-section">
            <div class="category-sect">
                <form action="" id="filterForm">
                    <h2>Filter</h2>
                    <label for="">Category</label>
                    <select name="" id="select-category">
                        <option value="cat">All Products</option>
                    </select>

                    <label for="">Price</label>
                    <select name="" id="select-price">
                        <option value="">Select Product Price</option>
                    </select>

                    <label for="">Condition</label>
                    <select name="" id="select-condition">
                        <option value="">Select Condition</option>
                        <option value="new">New</option>
                        <option value="used">Used</option>
                        <option value="refurbished">Refurbished</option>
                    </select>

                    <button id="apply-filter" class="submit-btn">Apply Filter</button>
                </form>
            </div>

            <div class="product-sect">
                <div class="search-bar">
                    <input type="text" name="search" placeholder="Search for products...">
                    <button><span class="material-icons-outlined">search</span></button>
                </div>

                <div class="slide-box">
                    <img src="{% static 'images/slide.jpg'%}" alt="slide-show-image">
                </div>

                <div class="products-container">
                    <!-- <div class="new-arrival">
                        <h2 class="product-header-1">
                            New Arrivals
                        </h2> 

                        <div class="new">
                            <div class="new-product">
                                <div class="img-p">
                                    <img src="{% static 'images/pic1.jpg' %}" alt="products">
                                    
                                </div>
                                <div class="p-info">
                                    <h4 class="product-name">Men Shirt</h4>
                                    <p>$30 - $20</p>
                                </div>
                                <span class="material-icons-outlined">favorite_border</span>
                            </div>
                        </div>
                    </div> -->

                    <div class="new-arrival" id="all-products">
                        <h2 class="product-header-1">
                            All Products
                        </h2>

                        <div class="new" id="new"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="product-detail">
            <div class="p-container active">
                <div class="products-images">
                    <div class="img-pr">
                        <img src="{% static 'images/pic1.jpg' %}" alt="product" class="img-1" width="200">
                    </div>
                    <div class="img-pr-slide">
                        <img src="{% static 'images/pic1.jpg' %}" alt="product">
                        <img src="{% static 'images/pic2.jpg' %}" alt="product">
                        <img src="{% static 'images/pic3.jpg' %}" alt="product">
                        <img src="{% static 'images/pic4.jpg' %}" alt="product">
                        <img src="{% static 'images/pic5.jpg' %}" alt="product">
                    </div>
                </div>

                <div class="product-info-d">
                    <div class="h-p">
                        <h2>Men Shirt</h2>
                        <p>$23.00</p>
                    </div>

                    <div class="cart-buy">
                        <button class="cart-btn">Add To Cart <span class="material-icons-outlined">shopping_cart</span></button>
                        <button class="order-btn">ORDER NOW <span class="material-icons-outlined">local_shipping</span></button>
                    </div>

                    <div class="descriptions">
                        <h4>Description</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa odit id debitis vero tempore, inventore nam cumque mollitia expedita ullam?</p>
                    </div>
                </div>

                <span class="close">
                    +
                </span>
            </div>
        </section>
    </main>



    <script type="module" src="{% static 'js_files/main/index.js'%}"></script>
</body>
</html>