{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>winimarketGh-products</title>
    <link rel="stylesheet" href="{% static 'css/main/index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;600&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <h1>WinimarketGh</h1>
        </div>
        
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search for product items..." autocomplete="off">
            <button class="icon"><span class="material-icons-outlined">close</span></button>
            <div class="search-suggestions" id="search-suggestion">
                <div class="search-suggestion-item"></div>
            </div>
        </div>

        <div class="menu-icon"><span class="material-icons-outlined">menu</span></div>

        <div class="navbar">
            <ul>
                <li><a><span class="material-icons-outlined active" id="nav-icon-1">home</span></a></li>
                <li><a><span class="material-icons-outlined" id="nav-icon-2">favorite_border</span></a></li>
                <li><a><span class="material-icons-outlined" id="nav-icon-3">shopping_cart</span></a></li>
                <li><a><span class="material-icons-outlined" id="nav-icon-4">local_shipping</span></a></li>
                <li><a><span class="material-icons-outlined" id="nav-icon-5">account_circle</span></a></li>
            </ul>
        </div>
    </header>

    <div class="bottom-navbar">
        <div class="icon-container">
            <div class="b-icon">
                <span class="material-icons-outlined active">home</span>
            </div>
            <div class="b-icon">
                <span class="material-icons-outlined">search</span>
            </div>
            <div class="b-icon">
                <span class="list-product">+</span>
            </div>
            <div class="b-icon">
                <span class="material-icons-outlined">favorite_border</span>
            </div>
            <div class="b-icon">
                <span class="material-icons-outlined">shopping_cart</span>
            </div>
        </div>
    </div>

    <div class="search-list" id="search-list">
        <span class="material-icons-outlined" id="close_search">arrow_back</span>
        <!-- search list here -->
        <div class="search_grid" id="search-grid"></div>
    </div>

    <main>
        <!-- PRODUCT AND CATEGORY LISTING PAGE-->
        <section class="product-section">
            <div class="category-sect">
                <form action="" id="filterForm">
                    <h2>Filter</h2>
                    <label for="">Category</label>
                    <select name="" id="select-category">
                        <option value="cat">All Products</option>
                    </select>

                    <label for="">Price</label>
                    <select name="" id="select-price">
                        <option value="">Select Product Price</option>
                    </select>

                    <label for="">Condition</label>
                    <select name="" id="select-condition">
                        <option value="">Select Condition</option>
                        <option value="new">New</option>
                        <option value="used">Used</option>
                        <option value="refurbished">Refurbished</option>
                    </select>

                    <button id="apply-filter" class="submit-btn">Apply Filter</button>
                </form>
            </div>

            <div class="product-sect">

                <div class="slide-box">
                    <img src="{% static 'images/slide.jpg'%}" alt="slide-show-image">
                </div>

                <div class="mobile-cat">
                    <div class="cat-info">
                        <img src="{% static 'images/shirt.jpg' %}" alt="cat">
                        <h5>Fashion</h5>
                    </div>
                    <div class="cat-info">
                        <img src="{% static 'images/shirt.jpg' %}" alt="cat">
                        <h5>Fashion</h5>
                    </div>
                    <div class="cat-info">
                        <img src="{% static 'images/shirt.jpg' %}" alt="cat">
                        <h5>Fashion</h5>
                    </div>
                    <div class="cat-info">
                        <img src="{% static 'images/shirt.jpg' %}" alt="cat">
                        <h5>Fashion</h5>
                    </div>
                </div>

                <div class="products-container">
                    <!-- <div class="new-arrival">
                        <h2 class="product-header-1">
                            New Arrivals
                        </h2> 

                        <div class="new">
                            <div class="new-product">
                                <div class="img-p">
                                    <img src="{% static 'images/pic1.jpg' %}" alt="products">
                                    
                                </div>
                                <div class="p-info">
                                    <h4 class="product-name">Men Shirt</h4>
                                    <p>$30 - $20</p>
                                </div>
                                <span class="material-icons-outlined">favorite_border</span>
                            </div>
                        </div>
                    </div> -->

                    <div class="new-arrival" id="all-products">
                        <h2 class="product-header-1">
                            All Products
                        </h2>

                        <div class="new" id="new"></div>
                    </div>
                </div>

                <div class="bottom-loader"></div>
            </div>
        </section>

        <section class="product-detail" id="product-detail"></section>

        <section id="wishlist-product" class="wishlist-product">
            <span class="material-icons-outlined" id="close_wishlist">arrow_back</span>
            <div class="wishlist-grid">
                <div class="new">
                    <div class="new-product">
                        <div class="img-p">
                            <img src="{% static 'images/pic1.jpg' %}" alt="products">
                            
                        </div>
                        <div class="p-info">
                            <h4 class="product-name">Men Shirt</h4>
                            <p>$20</p>
                        </div>
                        <span class="material-icons-outlined">favorite_border</span>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script type="module" src="{% static 'js_files/main/index.js'%}"></script>
</body>
</html>