<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Document</title>
</head>
<body>
    <div id="wishlist-section">
        <h2>Your Wishlist</h2>
        <div id="wishlist-items"></div>
    </div>

    <script>
        async function fetchWishList() {
            try{

                const response = await fetch('/products/api/wishlist/');

                const data = await response.json();

                if (!response.ok){
                    alert("Failed to fetch wishlist items" + JSON.stringify(data));
                    return;
                }

                const wishlistItems = document.getElementById('wishlist-items');
                wishlistItems.innerHTML = ''; // Clear previous items

                data.forEach(item => {

                    console.log("Wishlist item:", item.products.name);
                    wishlistItems.innerHTML += `
                        <div class="wishlist-item">
                            <h3>${item.products.name}</h3>
                            <p>Price: ₡${item.products.min_price} - ₡${item.products.max_price}</p>
                            <img src="${item.products.images[0].image}" alt="${item.products.name}" style="width: 100px; height: 100px;">
                            <button onclick='removeFromWishList("${item.products.id}")'> Remove from wishlist </button>
                        </div>
                    `;
                })

            } catch(error){
                console.error("Error fetching wishlist:", error);
            }
        }

        function getCSRFToken() {
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            return csrfToken;
        }

        async function removeFromWishList(productId) {
            try {
                const response = await fetch(`/products/api/wishlist/${productId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': getCSRFToken()
                    }
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    console.error("Error removing from wishlist:", errorData);
                    alert("Failed to remove from wishlist: " + errorData.error);
                    return;
                }

                alert("Product removed from wishlist successfully!");
                fetchWishList(); // Refresh the wishlist after removal

            } catch (error) {
                console.error("Error removing from wishlist:", error);
            }
        }

        document.addEventListener('DOMContentLoaded', fetchWishList);
    </script>
</body>
</html>