<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Document</title>
</head>
<body>
    <h2>Hello {{ request.user.email}}</h2>

    <button onclick="logOutUser()">Logout</button>

    <script>
        function getCSRFToken() {
            return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        }
        
        async function logOutUser(){
            try{

                const response = await fetch('/account/api/logout/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCSRFToken()
                    },
                    credentials: "include"
                })

                if (!response.ok) throw new Error('Failed to logout.')

                const data = await response.json()

                //showToast('✅ Logout successful!', 'success')

                setTimeout(() => {
                    window.location.href = '/account/login/';
                }, 1500);

            } catch(error){
                console.error('Error Loggin out: ' + error)
                //showToast('⚠️ Failed to log out. Try again.', 'error')
            }
        }
    </script>
</body>
</html>