<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Document</title>
</head>
<body>
   
    <input type="password" id="old_password" placeholder="Old Password" required> <br>
    <input type="password" id="new_password" placeholder="New Password" required> <br>
    <button onclick="changePassword()">Change Password</button>

    <script>
        async function changePassword(){
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            const old_password = document.getElementById('old_password').value
            const new_password = document.getElementById('new_password').value

            try{

                const response = await fetch('/account/api/change-password/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    }, 
                    credentials: 'include',
                    body: JSON.stringify({current_password: old_password, new_password: new_password})
                })

                if (!response.ok){
                    const errorData = await response.json()
                    alert('error'+ JSON.stringify(errorData))
                }

                const data = await response.json()
                alert('Password changed successful')

                window.location.href = '/account/'

            } catch(error){
                console.error('Something happened while changing the password ' + error)
            }
        }
    </script>
</body>
</html>