{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>winimarketGh - Login/SignUp</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;600&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/auth/login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <!-- <div class="logo">
            <i class='bxr  bxs-shopping-bag-alt'  ></i> 
        </div> -->
        <div class="head-title">
            WinimarketGh
        </div>

        <div class="login-message desktop"></div>
    </header>

    <div class="login-message-mobile">
        <div class="message">
            <span>Login Successful</span>
        </div>
    </div>

    <main class="auth-container">
        <section class="form-card">

            <!-- LOGIN FORM  -->
            <form action="" id="loginForm" class="form-content active">
                <h2 class="form-title">Welcome Back</h2>
                <p class="form-subtitle">Login in to your account</p>

                <div id="g_id_signin"></div>
                <div class="divider">Or</div>

                <div class="error"></div>

                <input type="text" id="emailOrPhone" name="email_or_phonenumber" class="input-field" placeholder="Email or Phone" required>
                <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
                <a href="#" class="forgot-password">Forgot Password</a>
                <button type="submit" class="submit-btn">Login</button>

                <div class="signup">
                    <span>Don't have an account? <a href="#" class="toggle-link" data-target="registerForm">Sign Up</a></span>
                </div>

                <div class="terms">
                    <span>By Continuing, you agree to Kasuwaa's <a href="#">Terms of Service</a> and acknowledge you've read our <a href="#">Privacy Policy. Notice at all collection.</a></span>
                </div>

            </form>

            <!-- SIGN UP FORM -->
             <form action="" id="registerForm" class="form-content">
                <h2 class="form-title">Create Account</h2>
                <p class="form-subtitle">Join us and Start Shopping</p>

                <div id="g_id_signin"></div>
                <div class="divider">Or</div>

                <div class="error"></div>

                <input type="email" name="email" class="input-field" id="email" placeholder="Enter your email" required>
                <input type="text" name="phonenumber" class="input-field" id="phonenumber" placeholder="Enter your phone number" required>
                <input type="password" id="password-" class="input-field" placeholder="Create a password" required>
                <button type='submit' class="submit-btn">Register</button>

                <div class="login">
                    <span>Already have an account? <a href="#" class="toggle-link" data-target="loginForm">Login</a></span>
                </div>

                <div class="terms">
                    <span>By Continuing, you agree to Kasuwaa's <a href="#">Terms of Service</a> and acknowledge you've read our <a href="#">Privacy Policy. Notice at all collection.</a></span>
                </div>
             </form>
        </section>
    </main>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="{% static './js_files/auth.js'%}"></script>
</body>
</html>