{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Kasuwaa - Profile Setup</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;600&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/auth/login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="head-title">
            Kasuwaa
        </div>
    </header>

    <div class="login-message-mobile">
        <div class="message">
            <span>Profile Set Up successfully</span>
        </div>
    </div>

    <main class="auth-container">
        <section class="form-card">
            <form action="" id="profileForm" class="form-content active">
                <h2 class="title">Add your name and Profile Image</h2>
                <p class="subtitle">Adding your profile image is optional.</p>

                <div class="profile_image">
                    <img src="{% static './images/profile1.jfif' %}" alt="profile-img" id="show-profile" class="img" width="20">
                    <input type="file" id="avatar" name="avatar" accept="images/*" style="display: none;">
                    <label for="avatar">Upload Image</label>
                </div>
                <input type="text" name="name" id="buyer-name" class="input-field" placeholder="Enter your Full name">
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </section>
    </main>

    <script type="module" src="{% static './js_files/profile_setup.js' %}"></script>
</body>
</html>